<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4 p-3">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Salud Mental</span>
            <h3 class="page-title">Perfil De Usuario</h3>
        </div>
    </div>
    <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="card card-small card-post card-post--1">
            {{!-- style="background-image: url('/media/2.jpeg');" --}}
            <div class="card-post__image cardImg" id="profile-picture">
                <div class="card-post__author d-flex">
                    <a href="#" class="card-post__author-avatar cardImg-small card-post__author-avatar--small"
                        style="background-image: url('/media/1.jpg');">Written by James Jamerson</a>
                </div>
            </div>
            <div class="card-body cardBodyDoc pt-5 row">
                <div class="col-sm-3 border-right border-dark">
                    <h4 class="card-title mb-0">
                        <a class="text-primary" href="#">Samuel Rodriguez</a>
                    </h4>
                    <h6 class="card-text d-inline-block mb-0">Lic. Psicologia</h6>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title mb-0">
                        <a class="text-primary" href="#">Correo:</a>
                        <h6 class="card-text d-inline-block mb-0">rd@gmail.com</h6>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-lg-4">
            <div class="card card-small mb-4 pt-3">
                <div class="card-header border-bottom">
                    <h4 class="mb-0 text-primary">Sobre mi</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-4">
                        <strong class="text-muted d-block mb-2">Hola</strong>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque, quidem, commodi
                            soluta
                            qui quae minima obcaecati quod dolorum sint alias, possimus illum assumenda eligendi
                            cumque?</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-small mb-4">
                <div class="col-lg col-md-4 col-sm-6 mb-4">
                    <div class="col-lg-12 pt-5">
                        <h4 class="card-title">
                            <a class="text-primary" href="#">Sobre Mi</a>
                        </h4>
                        <p class="card-text d-inline-block mb-3">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and
                            feel the charm of existence was created for the bliss of souls like mine.I am so happy, my
                            dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect
                            my talents.

                            A collection of textile samples lay spread out on the table - Samsa was a travelling
                            salesman - and above it there hung a picture that he had recently cut out of an illustrated
                            magazine and housed in a nice, gilded frame.
                        </p>
                    </div>
                    <div class="col-lg-12 pt-2">
                        <h5 class="card-title">
                            <a class="text-primary" href="#">Idiomas</a>
                        </h5>
                        <div class="button-content">
                            <button class="btn btn-primary button-style">Español</button>
                            <button class="btn btn-primary button-style">Ingles</button>
                            <button class="btn btn-primary button-style">Papiamento</button>
                            <button class="btn btn-primary button-style">Holandes</button>
                        </div>
                    </div>
                    <div class="col-lg-12 pt-5">
                        <h5 class="card-title">
                            <a class="text-primary" href="#">Información Personal</a>
                        </h5>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6>Nombre:</h6>
                                <h6>Correo:</h6>
                                <h6>Edad:</h6>
                                <h6>Ubicación:</h6>
                            </div>
                            <div class="col-sm-5">
                                <h6 id="nombreD">Samuel Rodriguez</h6>
                                <h6 id="correoD">rd@gmail.com</h6>
                                <h6 id="edad">32</h6>
                                <h6 id="ubicacion">Rosemont Avenue Melbourne, Florida</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>