<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="/media/portal/SMUMLogo.png" rel="icon">
    <link href="/media/portal/SMUMLogo.png" rel="apple-touch-icon">
    <title>Portal SMUM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
    <link rel='stylesheet' href="/vendor/shards-dashboards.1.1.0.min.css">
    <link rel='stylesheet' href="/vendor/extras.1.1.0.min.css">
    <link rel='stylesheet' href="/css/portal/styles.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>


<body class="h-100">
    <div class="color-switcher-toggle animated pulse infinite">
        <i class="material-icons">settings</i>
    </div>
    <div class="container-fluid">
        <div class="row">
             <!-- Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;"
                                    alt="Responsive image" src="/media/portal/smum-logo.svg">
                                <span class="d-none d-md-inline ml-1">SMUM Portal</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                    <div class="text-center profImg">
                        <img src="/media/portal/pacienteUser.png">
                        <h6 id="pacienteNombre"></h6>
                    </div>
                </div>
                <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none mb-0">
                    <div class="input-group input-group-seamless ml-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input class="navbar-search form-control" type="text" placeholder="Busca algo..."
                            aria-label="Search">
                    </div>
                </form>
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/inicioPacientes">
                                <i class="material-icons">home</i>
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pacienteCita">
                                <i class="fas fa-calendar-check"></i>
                                <span>Citas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/paCreaCita">
                                <i class="fas fa-calendar-check"></i>
                                <span>Genera Cita</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                        <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex mt-3">
                            <div class="input-group input-group-seamless ml-3 ">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="margin-top:7px;">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <input class="navbar-search form-control" type="text" placeholder="Busca algo..."
                                    aria-label="Search">
                            </div>
                        </form>
                        <ul class="navbar-nav border-left flex-row ">
                            {{!-- <li class="nav-item border-right dropdown notifications">
                                <a class="nav-link nav-link-icon text-center" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="nav-link-icon__wrapper">
                                        <i class="material-icons">&#xE7F4;</i>
                                        <span class="badge badge-pill badge-danger">2</span>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">
                                        <div class="notification__icon-wrapper">
                                            <div class="notification__icon">
                                                <i class="material-icons">&#xE6E1;</i>
                                            </div>
                                        </div>
                                        <div class="notification__content">
                                            <span class="notification__category">Analytics</span>
                                            <p>Your website’s active users count increased by
                                                <span class="text-success text-semibold">28%</span> in the last week.
                                                Great
                                                job!
                                            </p>
                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <div class="notification__icon-wrapper">
                                            <div class="notification__icon">
                                                <i class="material-icons">&#xE8D1;</i>
                                            </div>
                                        </div>
                                        <div class="notification__content">
                                            <span class="notification__category">Sales</span>
                                            <p>Last week your store’s sales count decreased by
                                                <span class="text-danger text-semibold">5.52%</span>. It could have been
                                                worse!
                                            </p>
                                        </div>
                                    </a>
                                    <a class="dropdown-item notification__all text-center" href="#"> View all
                                        Notifications
                                    </a>
                                </div>
                            </li> --}}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded-circle mr-2" src="/media/portal/pacienteUser.png"
                                        alt="User Avatar">
                                    <span class="d-none d-md-inline-block" id="nomProfile"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-small">
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons">&#xE7FD;</i> Perfil</a>
                                    <a class="dropdown-item text-danger" href="/login">
                                        <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                                </div>
                            </li>
                        </ul>
                        <nav class="nav">
                            <a href="#"
                                class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
                                data-toggle="collapse" data-target=".header-navbar" aria-expanded="false"
                                aria-controls="header-navbar">
                                <i class="material-icons">&#xE5D2;</i>
                            </a>
                        </nav>
                    </nav>
                </div>
                <div class="promo-popup animated">
                    <a href="http://bit.ly/shards-dashboard-pro" class="pp-cta extra-action">
                        <img src="/media/portal/biblia.svg"> </a>
                    <div class="pp-intro-bar"> Palabras De Aliento
                        <span class="close">
                            <i class="material-icons">close</i>
                        </span>
                        <span class="up">
                            <i class="material-icons">keyboard_arrow_up</i>
                        </span>
                    </div>
                    <div class="pp-inner-content">
                        <h2>Isaias 41:10</h2>
                        <p>No temas, porque yo estoy contigo; no desmayes, porque yo soy tu Dios que te esfuerzo;
                            siempre te ayudaré,
                            siempre te sustentaré con la diestra de mi justicia.</p>
                    </div>
                </div>
                <div class="main-content-container container-fluid px-4">
                    <!-- Page Header -->
                    <div class="page-header row no-gutters py-4">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <span class="text-uppercase page-subtitle">SaludMental UM</span>
                            <h3 class="page-title">Mi Portal</h3>
                        </div>
                    </div>
                    <!-- End Page Header -->
                    <!-- Main dashboard -->
                    <div class="row">
                        <div class="col-lg-12 col-sm-5 col-sm-5">
                            <div class="card card-small card-post mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-5 text-center">
                                            <img src="/media/portal/pacientePortal.svg" class="img-thumbnail mt-5"
                                                alt="Responsive image" style="height: 300px;">
                                        </div>
                                        <div class="col-lg-7">
                                            <h2 class="card-title text-right pr-5 pt-5" id="pacienteBienve"></h2>
                                            <h6 class="card-text text-muted text-right mt-3 pr-5">
                                                Bienvenido al tu portal de Saludmental um, en este portal usted va poder
                                                encontrar sus citas y los link para su consulta virtual. Los consultas
                                                van a ser por la platafoma zoom, si no lo tienes intalado, no te
                                                preocupes. Al hacer clic en el link de zoom se instala automaticamente
                                                en tu computadora o dispositivo mobil.
                                            </h6>
                                            <h6 class="card-text text-muted text-right mt-3 pr-5">
                                                Al pagar tu cita vas a poder conseguir tu link para tu consulta.
                                                Aqui en este boton vas a poder ir a la parte para pagar tu cita, ahi vas
                                                a poder conseguir mas informacion de los pagos. Al terminar con tu pago
                                                vas a conseguir el link para la consulta aqui en tu portal. SI no ves el boton para
                                                hacer el pago, significa que tu consulta es gratis. Dirige al seccion de citas a la izquierda
                                                para conseguir su cita.
                                            </h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" >
                        <!-- Users By Device Stats -->
                        <div class="col-md-10 col-md-4 col-sm-6 mb-4" id="moduloPagos">
                            <div class="card card-small card-post card-post--1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-sm-2 text-center ">
                                                    <img src="/media/portal/pagosInfo.svg" alt="Responsive image"
                                                        style="height: 80px;">
                                                </div>
                                                <div class="col-sm-10 text-center">
                                                    <h5 class="card-titletext-fiord-blue mt-3">Hacer tu pago hoy para
                                                        conseguir el link para tu consulta virtual.
                                                    </h5>
                                                    <p class="text-dark">El costo para todo tipo de consulta es de $450 pesos mexicanos
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                            <a href="/pacientePago"><button class="btn btn-primary btn-lg">Hacer pago</button></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                    <span class="copyright p-2">Copyright © SaludMental UM 2021
                        {{!-- <a href="" rel="nofollow">Design by Nathaniel Martina</a> --}}
                    </span>
                </footer>
            </main>
        </div>
    </div>
    <div id="preloader"></div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="/vendor/extras.1.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <script src="/js/portal/PacienteJs/pacienteInicio.js"></script>
</body>