<link rel="stylesheet" href="css/departamentos/departamentos.css">

<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contacto-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contacto@example.com">cedafamp@um.edu.mx</a>
        <i class="icofont-phone"></i> +52 826 263 3754
        <i class="icofont-google-map"></i> Simon Bolivar 1213, NL
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/cedafam" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cedafam/" target="_blank"  class="instagram"><i class="icofont-instagram"></i></a>
         <a href="https://www.tiktok.com/@cedafam?lang=esp" target="_blank" class="tiktok"><i class="fab fa-tiktok"></i></i></a>
        <a href="https://www.youtube.com/channel/UCgb1Fb-bjsm_XNKpqL8DKhg" target="_blank"  class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
</div>

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>C I P
      </h1>
      <h2>Centro de Investigaciones Psicológicas</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <!---->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Enfoque</h3>
              <p>
                El Centro de Investigaciones en Psicología (CIP) se enfoca en el desarrollo de investigaciones en el área de la psicología que contribuyan a la superación de los principales desafíos de la psicología contemporánea.
              </p>
              {{!-- <div class="text-center">
                <a href="#" class="more-btn">Ver más <i class="bx bx-chevron-right"></i></a>
              </div> --}}
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-phone"></i>
                    <h4>Llámanos</h4>
                    <p>2630906 (2550)</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-envelope"></i>
                    <h4>Envíanos un mensaje</h4>
                    <p>
                      cipfapsi@um.edu.mx</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-current-location"></i>
                    <h4>Nos ubicamos en:</h4>
                    <p>Av. Libertad 1300 Poniente, Matamoros, 67530 Montemorelos, Nuevo León, México.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Revista Psicosophia</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Consulta Psicológica</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">Evaluación Psicológica</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">¿Qué hacer en caso de?</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  <section id="cip-inv" class="cip-inv">
    {{!-- <div class="container"> --}}
    <div class="container">
    <div class="section-title">
      <h2>Revista Psicosophia</h2>
      <p>En el segundo número del año 2020 se tratan temas como la conducta violenta, el consumo de sustancias y las conductas depresivas en estudiantes universitarios. Además, se estudia la madurez neuropsicologica de alumnos de un preescolar de la zona citrícola. </p>
    </div>
    </div>

    <div class="row">
      <div class="col-lg-7 col-md-12 d-flex align-items-stretch">
        <div class="faq-list">
          <ul>

            <li data-aos="fade-up">
              <a data-toggle="collapse" class="collapse"
              href="#faq-list-1"><span>01</span>  ESTILOS DE SOCIALIZACIÓN PARENTAL, CONDUCTA VIOLENTA Y RIESGO DE CONSUMO DE SUSTANCIAS EN ADOLESCENTES DE UNA ESCUELA SECUNDARIA EN EL ISTMO DE TEHUANTEPEC, OAXACA
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                Zandra Enyd Covarrubias Quintero, Yara Cristina Álvarez Castillo 
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/17/19">Echa un vistazo</a>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed"><span>02</span>  ESTUDIO DE CASO: ANÁLISIS DE LAS CONDUCTAS DEPRESIVAS, DESESPERANZA E IDEACIÓN SUICIDA, EN CINCO ESTUDIANTES DE UNA UNIVERSIDAD PRIVADA DEL NORTE DE MÉXICO<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                Brenda Tabardillo Vázquez, Betsy Arely Guerra Cahuich
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/18/18">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed"><span>03</span> ESTUDIO DE CASO DE LA PRESENCIA DE CONDUCTAS DEPRESIVAS: AUTOCRÍTICA Y EVALUACIÓN DE ASPECTO, EN LA VIDA DE DOS ESTUDIANTES DE UNA UNIVERSIDAD PRIVADA EN MONTEMORELOS, NUEVO LEÓN<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Brenda Tabardillo Vázquez, Vivian Cruz Priego
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/19/17">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed"><span>04</span> EL ESTILO DE VIDA COMO PREDICTOR DE LA DEPRESIÓN EN LAS PERSONAS QUE REALIZAN ACTIVIDAD FÍSICA COMO DISCIPLINA<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                Josué Manuel Maya Martínez, Cindy Esmeralda Chontal Romero, Josely Nohemí García Silvestre, Davinia Gómez Castellanos, Miguel Ángel Juárez Sánchez
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/20/16">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed"><span>05</span>  EVALUACIÓN DE LA MADUREZ NEUROPSICOLÓGICA INFANTIL EN ALUMNOS DE UN CENTRO PREESCOLAR DE MONTEMORELOS NUEVO LEÓN<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Martín Hernández Cruz, Jair Jazziel Alcántara Quiroga, Carolina Ávila Salamanca, Petrah Michaëla Chrystalina Conquet
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/21/15">Echa un vistazo</a>
            </div>
          </li>

          </ul>
        </div>
      </div>

          {{!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <img src="media/fapsi-conservatorio.jpeg" alt="">
          </div> --}}
          <div class="col-lg-4 d-flex align-items-center imagen-revista" data-aos="zoom-out" data-aos-delay="200">
            <img src="media/cip-revista.jpeg" class="img-fluid" alt="">
          </div>

      </div>
    {{!-- </div> --}}

  </section>

    <!-- ======= Articlos Seccion ======= -->
  <section id="articulos" class="articulos">
    <div class="container">
      <div class="section-title pb-0">
        <h2>Artículos</h2>
      </div>
      <div class="owl-carousel articulos-carousel">
        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/2XP0v3X" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar estrés y ansiedad durante la pandemia?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Si últimamente te has sentido angustiado por todo lo que está ocurriendo, es probable que el miedo esté
                invadiendo tus pensamientos.
                Si esto ha causado cambios en tu comportamiento, te obsesiona la limpieza o tienes dificultad para
                dormir,
                tal vez esta sea una oportunidad para escucharte a ti mismo.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/3ex1M6u" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo identificar el malestar psicológico?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Es cierto que no necesitas sonreír todo el tiempo para estar bien. Sin embargo, si con frecuencia no
                tienes ganas de salir de la cama, tal vez estés pasando por una tristeza profunda y difícil de explicar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/36PoeVI" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la crisis del desempleo?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nadie estaba esperando esta crisis. Si tus planes han tenido un giro inesperado y no tienes idea de qué
                te espera el día de mañana, hay algunos consejos que te pueden ayudar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/2zPqmAE" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la pérdida de un ser querido?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aunque perder a un ser querido no sea fácil, no hay que huir de las emociones. Esta puede ser una
                oportunidad para reflexionar.
                Estas son algunas cosas que puedes hacer para enfrentar este momento de una forma saludable.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/3dAFUH2" btarget="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Qué puedo hacer si he perdido la esperanza?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                En momentos difíciles la esperanza puede darte la fuerza que necesitas para seguir adelante. No
                obstante, es posible que depositemos nuestra esperanza en el lugar equivocado.
                Sólo al confiar en Dios y entregarle nuestras preocupaciones podremos vivir seguros y tener la
                estabilidad que tanto buscamos.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>
      

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Simon Bolivar 1213, Nuevo Leon, MX 67515</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>cae@um.edu.mx</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llama:</h4>
                <p>826 262 3127
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar
              </button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contacto">
            <h3><img src="media/docPanLogo.png"/></h3>
            {{!-- <p>
              Simon Bolivar 1213<br>
              Montemorelos, NL 67530<br>
              Mexico<br><br>
              <strong>Telefono:</strong> +52 826 263 3754<br>
              <strong>Correo:</strong> cedafamp@um.edu.mx<br>
            </p> --}}
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h3>Horarios</h3>
            <div class="row">
              <div class="col-sm-4">Domingo<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lunes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Martes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Miercoles<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Jueves<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Vierne<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Sabado<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/fapsi">FAPSI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/coae">COAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cedafam">CEDAFAM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cip">CIP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/redpum">RE</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>¡Regístrate hoy!</h4>
            <p>Regístrate hoy en nuestro sitio para obtener tu cita presencial o virtual</p>
             
             <a href="/register">Registrar</a>
            
          </div>

        </div>
      </div>
    </div>
  </footer>  <!-- ======= Footer ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/vendor/jquery/jquery.min.js"></script>
