<link rel="stylesheet" href="css/departamentos/departamentos.css">

<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contacto-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contacto@example.com">cipfapsi@um.edu.mx</a>
        <i class="icofont-phone"></i> 2630906 (2550)
        <i class="icofont-google-map"></i> Univ. de Montemorelos,Montemorelos, N.L.
      </div>
      <div class="social-links">
      </div>
    </div>
</div>

<!-- ======= Hero Section ======= -->
  <section id="hero-cip" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>C I P
      </h1>
      <h2>Centro de Investigaciones Psicológicas</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <!---->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Quiénes somos?</h3>
              <p>
                El Centro de Investigaciones en Psicología (CIP) se enfoca en el desarrollo de investigaciones en el área de la psicología que contribuyan a la superación de los principales desafíos de la psicología contemporánea.
              </p>
              {{!-- <div class="text-center">
                <a href="#" class="more-btn">Ver más <i class="bx bx-chevron-right"></i></a>
              </div> --}}
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-phone"></i>
                    <h4>Llámanos</h4>
                    <p>2630906 (2550)</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-envelope"></i>
                    <h4>Envíanos un mensaje</h4>
                    <p>
                      cipfapsi@um.edu.mx</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-current-location"></i>
                    <h4>Nos ubicamos en:</h4>
                    <p>Av. Libertad 1300 Poniente, Matamoros, 67530 Montemorelos, Nuevo León, México.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->
  

  <section id="cip-inv" class="cip-inv">
    {{!-- <div class="container"> --}}
    <div class="container">
    <div class="section-title">
      <h2>Revista Psicosophia</h2>
      <p>En el segundo número del año 2020 se tratan temas como la conducta violenta, el consumo de sustancias y las conductas depresivas en estudiantes universitarios. Además, se estudia la madurez neuropsicologica de alumnos de un preescolar de la zona citrícola. </p>
    </div>
    </div>

    <div class="row">
      <div class="col-lg-7 col-md-12 d-flex align-items-stretch">
        <div class="faq-list">
          <ul>

            <li data-aos="fade-up">
              <a data-toggle="collapse" class="collapse"
              href="#faq-list-1"><span>01</span>  ESTILOS DE SOCIALIZACIÓN PARENTAL, CONDUCTA VIOLENTA Y RIESGO DE CONSUMO DE SUSTANCIAS EN ADOLESCENTES DE UNA ESCUELA SECUNDARIA EN EL ISTMO DE TEHUANTEPEC, OAXACA
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p class="text-justify">
                Zandra Enyd Covarrubias Quintero, Yara Cristina Álvarez Castillo 
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/17/19">Echa un vistazo</a>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed"><span>02</span>  ESTUDIO DE CASO: ANÁLISIS DE LAS CONDUCTAS DEPRESIVAS, DESESPERANZA E IDEACIÓN SUICIDA, EN CINCO ESTUDIANTES DE UNA UNIVERSIDAD PRIVADA DEL NORTE DE MÉXICO<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                Brenda Tabardillo Vázquez, Betsy Arely Guerra Cahuich
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/18/18">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed"><span>03</span> ESTUDIO DE CASO DE LA PRESENCIA DE CONDUCTAS DEPRESIVAS: AUTOCRÍTICA Y EVALUACIÓN DE ASPECTO, EN LA VIDA DE DOS ESTUDIANTES DE UNA UNIVERSIDAD PRIVADA EN MONTEMORELOS, NUEVO LEÓN<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Brenda Tabardillo Vázquez, Vivian Cruz Priego
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/19/17">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed"><span>04</span> EL ESTILO DE VIDA COMO PREDICTOR DE LA DEPRESIÓN EN LAS PERSONAS QUE REALIZAN ACTIVIDAD FÍSICA COMO DISCIPLINA<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                Josué Manuel Maya Martínez, Cindy Esmeralda Chontal Romero, Josely Nohemí García Silvestre, Davinia Gómez Castellanos, Miguel Ángel Juárez Sánchez
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/20/16">Echa un vistazo</a>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed"><span>05</span>  EVALUACIÓN DE LA MADUREZ NEUROPSICOLÓGICA INFANTIL EN ALUMNOS DE UN CENTRO PREESCOLAR DE MONTEMORELOS NUEVO LEÓN<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Martín Hernández Cruz, Jair Jazziel Alcántara Quiroga, Carolina Ávila Salamanca, Petrah Michaëla Chrystalina Conquet
              </p>
              <a href="http://psicosophia.um.edu.mx/ojs/index.php/psicosophia/article/view/21/15" class="btn-revista">Echa un vistazo</a>
            </div>
          </li>

          </ul>
        </div> 
      </div>

          {{!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <img src="media/fapsi-conservatorio.jpeg" alt="">
          </div> --}}
          <div class="col-lg-4 d-flex align-items-center imagen-revista" data-aos="zoom-out" data-aos-delay="200">
            <img src="media/cip-revista.jpeg" class="img-fluid" alt="">
          </div>

      </div>
    {{!-- </div> --}}
  </section>

   <!-- ======= Explicacion seccion ======= -->
        <section id="departments" class="departments">
            <div class="container">

            <div class="section-title">
                <h2>Líneas de investigación</h2>
                <p>Las LGAC de la FAPSI responden a la necesidad de contribuir en el desarrollo de las funciones superiores del pensamiento fundamentando el que hacer investigativo en el contexto institucional para aportar en: a) consejería familiar, b) psicología y ciclo vital de la familia, c) violencia intrafamiliar, d) estudio de la familia e intervención en crisis, e) psicología positiva y familia y f) axiología y espiritualidad en la familia.</p>
              
            </div>

            <div class="row">
                <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Psicología y ciclo vital de la familia</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-2">Consejería familiar </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-3">Violencia intrafamiliar</a>
                    </li>
                     <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-4">Estudio de la familia e intervenciones en crisis</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-5">Psicología positiva y familia</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-6">Axiología y espiritualidad en la familia</a>
                    </li>
                    
                </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">

                  <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Prevención, evaluación e intervención de las problemáticas familiares, social y mediación familiar. Se adentra en los procesos de comunicación familiar, elección de la pareja, relación paterno filial fortalecimiento del sistema familiar. Permite analizar las disfunciones  e
                        influencia en el desarrollo de las diferentes etapas evolutivas de los miembros de la familia
                        </p>

                        <h3>Proyecto</h3>
                        <p>Actitudes y conductas alimentarias y autopercepción de la salud familiar en adolescentes. Autopercepción del clima familiar y las experiencias traumáticas de la infancia como predictores de las conductas disociales en adolescentes.
                        La Autopercepción del clima familiar y el tipo de familia como predictores de la inteligencia emocional.
                        Ansiedad y Depresión en adultos mayores en instituciones geriátricas.
                        </p>

                        <h3>Catedrático</h3>
                        <p>Dra. Nohemí Romero</p>
                        <p>mcorral@um.edu.mx</p>
                        <p>826 103 6960</p>
                        
                        </div>
                        {{!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="/media/tallerInteliEmocional.jpeg" alt="" class="img-fluid">
                        </div> --}}
                    </div>
                    </div>

                    <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Análisis de los componentes implicados en el proceso de la consejería familiar, que favorecen
                        y mantienen la calidad de la dinámica de la familia.
                        </p>

                        <h3>Catedrático</h3>
                        <p>Dr. Marcelo Moroni </p>
                        <p>carlosmarcelo@um.edu.mx</p>
                        <p>826 127 9942</p>
                        <p>Dra. Nohemí Romero</p>
                        <p>mcorral@um.edu.mx</p>
                        <p>826 103 6960</p>
                        </div>

                    </div>
                    </div>

                    <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Análisis y estudio de las relaciones codependientes que favorecen la violencia de pareja y
                        el maltrato a los niños y el abuso sexual de menores así como el abuso y negligencia hacia los adultos mayores
                        </p>

                        <h3>Proyecto</h3>
                        <p>Estilos de socialización parental, conducta violenta y consumo de sustancias en
                        adolescentes de preparatoria
                        </p>

                        <h3>Catedrático</h3>
                        <p>Mtro. Zandra Covarrubias</p>
                        <p>scannersicologia@um.edu.mx</p>
                        <p>826 106 7148</p>
                       
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane" id="tab-4">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Descripción: Factores que intervienen en el desarrollo y el surgimiento de las crisis
                        previsibles e imprevisibles, su impacto en la dinámica familiar y sus repercusiones en el ambiente social y laboral.
                        </p>
                        
                        <h3>Catedrático</h3>
                        <p>Mtra. Zandra Covarrubias</p>
                        <p>scannersicologia@um.edu.mx</p>
                        <p>826 106 7148</p>
                        <p>Dr. Mar Elizondo Smith</p>
                        <p>mares@um.edu.mx</p>
                        <p>826 169 0916</p>
                        </div>
          
                    </div>
                    </div>

                    <div class="tab-pane" id="tab-5">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Evaluación y desarrollo de las virtudes y fortalezas del carácter y de los recursos familiares que contribuyen a incrementar la calidad de vida y la felicidad.</p>

                        <h3>Proyecto</h3>
                        <p>Factores individuales, familiares y sociales como predictores del funcionamiento psicológico positivo en jóvenes cubanos.
                        </p>

                        <h3>Catedrático</h3>
                        <p>Mtro. Miguel Alemany</p>
                        <p>malemany@um.edu.mx</p>
                        <p>826 261 3874</p>
                        
                        </div>
                  
                    </div>
                    </div>

                    <div class="tab-pane" id="tab-6">
                    <div class="row">
                        <div class="col-lg-11 details order-2 order-lg-1">
                        <h3>Descripción</h3>
                        <p class="font-italic">Proponer y desarrollar metodologías que enseñen la transmisión de valores y el desarrollo del carácter en los niños y en la práctica de las relaciones familiares que se transparenten en el cotidiano vivir.</p>

                        <h3>Proyecto</h3>
                        <p>Influencia de la salud espiritual en el clima organizacional y el funcionamiento familiar Salud espiritual y funcionamiento familiar y su impacto sobre las emociones
                        </p>

                        <h3>Catedrático</h3>
                        <p>
                         Dr. Marcelo Moroni
                        </p>
                        <p>carlosmarcelo@um.edu.mx</p>
                        <p>826 127 9942</p>

                        </div>
                        
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>

            </div>
        </section>

    <!-- ======= Articlos Seccion ======= -->
  <section id="articulos" class="articulos">
    <div class="container">
      <div class="section-title pb-0">
        <h2>Artículos</h2>
      </div>
      <div class="owl-carousel articulos-carousel">
        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/2XP0v3X" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar estrés y ansiedad durante la pandemia?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Si últimamente te has sentido angustiado por todo lo que está ocurriendo, es probable que el miedo esté
                invadiendo tus pensamientos.
                Si esto ha causado cambios en tu comportamiento, te obsesiona la limpieza o tienes dificultad para
                dormir,
                tal vez esta sea una oportunidad para escucharte a ti mismo.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/3ex1M6u" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo identificar el malestar psicológico?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Es cierto que no necesitas sonreír todo el tiempo para estar bien. Sin embargo, si con frecuencia no
                tienes ganas de salir de la cama, tal vez estés pasando por una tristeza profunda y difícil de explicar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/36PoeVI" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la crisis del desempleo?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nadie estaba esperando esta crisis. Si tus planes han tenido un giro inesperado y no tienes idea de qué
                te espera el día de mañana, hay algunos consejos que te pueden ayudar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/2zPqmAE" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la pérdida de un ser querido?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aunque perder a un ser querido no sea fácil, no hay que huir de las emociones. Esta puede ser una
                oportunidad para reflexionar.
                Estas son algunas cosas que puedes hacer para enfrentar este momento de una forma saludable.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/3dAFUH2" btarget="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Qué puedo hacer si he perdido la esperanza?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                En momentos difíciles la esperanza puede darte la fuerza que necesitas para seguir adelante. No
                obstante, es posible que depositemos nuestra esperanza en el lugar equivocado.
                Sólo al confiar en Dios y entregarle nuestras preocupaciones podremos vivir seguros y tener la
                estabilidad que tanto buscamos.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
          
        </div>
      </div>
      

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Univ. de Montemorelos,Montemorelos, N.L.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>cipfapsi@um.edu.mx</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llama:</h4>
                <p>2630906 (2550)
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar
              </button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contacto">
            <h3><img src="media/docPanLogo.png"/></h3>
            {{!-- <p>
              Simon Bolivar 1213<br>
              Montemorelos, NL 67530<br>
              Mexico<br><br>
              <strong>Telefono:</strong> +52 826 263 3754<br>
              <strong>Correo:</strong> cedafamp@um.edu.mx<br>
            </p> --}}
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h3>Horarios</h3>
            <div class="row">
              <div class="col-sm-4">Domingo<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lunes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Martes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Miercoles<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Jueves<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Vierne<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Sabado<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/fapsi">FAPSI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/coae">COAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cedafam">CEDAFAM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cip">CIP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/redpum">RE</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>¡Regístrate hoy!</h4>
            <p>Regístrate hoy en nuestro sitio para obtener tu cita presencial o virtual</p>
             
             <a href="/register">Registrar</a>
            
          </div>

        </div>
      </div>
    </div>
  </footer>  <!-- ======= Footer ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/vendor/jquery/jquery.min.js"></script>
