<link rel="stylesheet" href="css/departamentos/departamentos.css">

<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contacto-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contacto@example.com">cedafamp@um.edu.mx</a>
        <i class="icofont-phone"></i> +52 826 263 3754
        <i class="icofont-google-map"></i> Simon Bolivar 1213, NL
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/cedafam" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cedafam/" target="_blank"  class="instagram"><i class="icofont-instagram"></i></a>
         <a href="https://www.tiktok.com/@cedafam?lang=esp" target="_blank" class="tiktok"><i class="fab fa-tiktok"></i></i></a>
        <a href="https://www.youtube.com/channel/UCgb1Fb-bjsm_XNKpqL8DKhg" target="_blank"  class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
</div>


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>C O A E</h1>
      <h2>Centro de Orientación y Asesoría Estudiantil</h2>
      <a href="#about" class="btn-get-started scrollto">Comenzar</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Quiénes somos?</h3>
              <p>
                El centro de orientación y asesoría estudiantil tiene la finalidad de promover el bienestar integral de los alumnos UM para fortalecer su proceso académico. Entre los objetivos del centro se encuentra el evaluar e identificar las necesidades específicas del estudiante y ofrecer alternativas de solución y planificar y coordinar zacciones remediales para garantizar el éxito académico.
              </p>

            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Llámanos</h4> 
                    <p>826 262 3127</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Envíanos un mensaje</h4>
                    <p>
                      coae@um.edu.mx
                      </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Visítanos</h4>
                    <p>Simon Bolivar 1213, Matamoros, Montemorelos, Nuevo León Matamoros, 67530 Montemorelos, N.L.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://youtu.be/KRDGlG51Px4" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>¿Sabías que?</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= CONSULTA Section ======= -->
    <section id="consulta" class="consulta">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Servicios</h3>
              <h2>Consulta Psicológica</h2>
              <p>
                Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Ver Más</span>
                  <i class="bi bi-arrow-right btn-consulta"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="media/carusel3.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End Consulta Section -->


    <!-- ======= About Lists Section ======= -->
    <section class="about-lists mt-5 pb-5">

      <div class="section-title mt-5">
        <h2>¿Qué hacer en caso de?</h2>
      </div>

      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <span>01</span>
            <h4>Crisis</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
            <span>02</span>
            <h4>Ansiedad</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
            <span>03</span>
            <h4>Estrés</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
            <span>04</span>
            <h4>Depresión</h4>
            <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
            <span>05</span>
            <h4>Tristeza</h4>
            <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
            <span>06</span>
            <h4>Desorganización</h4>
            <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
          </div>

        </div>

      </div>
    </section><!-- End About Lists Section -->

    <!-- ======= EVALUACIÓN Section ======= -->
    <section id="evaluacion" class="evaluacion">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="media/about.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div class="text-center mb-3">
              <h2 class="mb-3">Evaluación Psicológica</h2>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxs-user-check"></i></div>
              <h4 class="title"><a href="">Atención especializada</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-id-card"></i></div>
              <h4 class="title"><a href="">Diagnóstico profesional</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Evaluación Us Section -->


    <!-- ======= Explicacion seccion ======= -->
        <section id="departments" class="departments">
            <div class="container">

            <div class="section-title">
                <h2>Talleres</h2>
              
            </div>

            <div class="row">
                <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">10 de Septiembre</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-2">15 de Octubre</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-3">12 de Noviembre</a>
                    </li>
                    
                </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Técnicas de estudio y estrategias por pares</h3>
                        <p class="font-italic">Se aplicará un test de estilos de aprendizaje y trabajaremos sobre mejorar nuestro método de estudio.</p>
                        </p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="/media/consulta.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Inteligencia emocional</h3>
                        <p class="font-italic">El objetivo de este taller es conocer nuestras emociones y que aprendamos a manejarlas de manera correcta.</p>
                       
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="/media/educacional.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Convivir en la nueva normalidad</h3>
                        <p class="font-italic">Se proveerán herramientas para mejorar nuestra adaptación en la situación actual en la que estamos viviendo</p>
                        
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="/media/departments-4.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    </div>
                    
                </div>
                </div>
            </div>

            </div>
        </section>

    {{!-- <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/Alfred.jpeg" class="testimonial-img" alt="">
                  <h3>Alfred North Whitehead</h3>
                  <h4>Matemático y filósofo</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Pensamos en generalidades, pero vivimos en detalles".
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/napoleon.jpeg" class="testimonial-img" alt="">
                  <h3>Napoleon Hill</h3>
                  <h4>Escritor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    "Si no puedes hacer grandes cosas, haz pequeñas cosas a lo grande"
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section --> --}}

    <!-- ======= Preguntas seccion ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
              href="#faq-list-1">¿Cómo hago una cita?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                Puedes hacer tu cita a través de esta página dando click en el botón que se encuentra en la parte superior derecha, a través de nuestro WhatsApp +52 826 262 3127, o a nuestro correo coae@um.edu.mx
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed">La información que comparta aquí, ¿la conocerá alguien más?<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                No, la información y los datos compartidos durante las sesiones se guardarán con extrema confidencialidad
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed">Las citas, ¿Son vía zoom?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                  Si te encuentras en el área de Montemorelos puedes tomar tu cita presencial cumpliendo con todas las medidas de higiene.
                </p>
                <p>
                  Si estas fuera de Montemorelos la cita se tomará vía zoom para la cual te haremos llegar un link.
                </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed">¿Puedo escoger quién me atenderá?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                La asignación del psicólogo se hace en base a la necesidad del alumno. Nuestro objetivo es hacer que el alumno se sienta cómodo con el profesional de la salud que lo atenderá.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed">Si falto a una cita, ¿Puedo reagendar o pierdo mi turno?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Te recomendamos que si faltarás a tu cita, nos lo hagas saber con anticipación para poder reagendarla. De lo contrario, existe la posibilidad de que tu turno sea asignado a alguien mas.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed">¿Los talleres cuentan como legado?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Por el momento no, pero estamos haciendo lo posible para que muy pronto asi sea.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>

  </section>

  <!-- ======= Articlos Seccion ======= -->
  <section id="articulos" class="articulos">
    <div class="container">
      <div class="section-title pb-0">
        <h2>Artículos</h2>
      </div>
      <div class="owl-carousel articulos-carousel">
        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/2XP0v3X" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar estrés y ansiedad durante la pandemia?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Si últimamente te has sentido angustiado por todo lo que está ocurriendo, es probable que el miedo esté
                invadiendo tus pensamientos.
                Si esto ha causado cambios en tu comportamiento, te obsesiona la limpieza o tienes dificultad para
                dormir,
                tal vez esta sea una oportunidad para escucharte a ti mismo.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/3ex1M6u" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo identificar el malestar psicológico?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Es cierto que no necesitas sonreír todo el tiempo para estar bien. Sin embargo, si con frecuencia no
                tienes ganas de salir de la cama, tal vez estés pasando por una tristeza profunda y difícil de explicar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/36PoeVI" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la crisis del desempleo?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nadie estaba esperando esta crisis. Si tus planes han tenido un giro inesperado y no tienes idea de qué
                te espera el día de mañana, hay algunos consejos que te pueden ayudar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/2zPqmAE" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la pérdida de un ser querido?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aunque perder a un ser querido no sea fácil, no hay que huir de las emociones. Esta puede ser una
                oportunidad para reflexionar.
                Estas son algunas cosas que puedes hacer para enfrentar este momento de una forma saludable.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/3dAFUH2" btarget="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Qué puedo hacer si he perdido la esperanza?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                En momentos difíciles la esperanza puede darte la fuerza que necesitas para seguir adelante. No
                obstante, es posible que depositemos nuestra esperanza en el lugar equivocado.
                Sólo al confiar en Dios y entregarle nuestras preocupaciones podremos vivir seguros y tener la
                estabilidad que tanto buscamos.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
        </div>
      </div>


      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Simon Bolivar 1213, Nuevo Leon, MX 67515</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>cae@um.edu.mx</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llama:</h4>
                <p>826 262 3127
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar
              </button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contacto">
            <h3><img src="media/docPanLogo.png"/></h3>
            {{!-- <p>
              Simon Bolivar 1213<br>
              Montemorelos, NL 67530<br>
              Mexico<br><br>
              <strong>Telefono:</strong> +52 826 263 3754<br>
              <strong>Correo:</strong> cedafamp@um.edu.mx<br>
            </p> --}}
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h3>Horarios</h3>
            <div class="row">
              <div class="col-sm-4">Domingo<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lunes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Martes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Miercoles<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Jueves<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Viernes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Sabado<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/fapsi">FAPSI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/coae">COAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cedafam">CEDAFAM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cip">CIP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/redpum">RE</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>¡Regístrate hoy!</h4>
            <p>Regístrate hoy en nuestro sitio para obtener tu cita presencial o virtual</p>

             <a href="/register">Registrar</a>

          </div>

        </div>
      </div>
    </div>
  </footer>  <!-- ======= Footer ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/vendor/jquery/jquery.min.js"></script>


