    <link rel="stylesheet" href="css/departamentos/departamentos.css">

    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contacto-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contacto@example.com">cedafamp@um.edu.mx</a>
        <i class="icofont-phone"></i> +52 826 263 3754
        <i class="icofont-google-map"></i> Simon Bolivar 1213, NL
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/cedafam" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cedafam/" target="_blank"  class="instagram"><i class="icofont-instagram"></i></a>
         <a href="https://www.tiktok.com/@cedafam?lang=esp" target="_blank" class="tiktok"><i class="fab fa-tiktok"></i></i></a>
        <a href="https://www.youtube.com/channel/UCgb1Fb-bjsm_XNKpqL8DKhg" target="_blank"  class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
</div>

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>F A P S I </h1>
      <h2>Facultad de Psicología</h2>
      <a href="#about" class="btn-get-started scrollto">Comenzar</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Quiénes somos?</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nobis commodi recusandae, hic magni assumenda laboriosam consectetur officia temporibus earum.
              </p>
              
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Llámanos</h4>
                    <p>826 262 3127</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Envíanos un mensaje</h4>
                    <p>
                      fapsi@um.edu.mx
                      </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Visítanos</h4>
                    <p>Simon Bolivar 1213, Matamoros, Montemorelos, Nuevo León Matamoros, 67530 Montemorelos, N.L.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


     <!--Google calendar-->
    <section id="calendar" class="calendar mt-5 mb-5">
      <h2>Calendario de Actividades</h2>
      <p align="center">
      <iframe src="https://calendar.google.com/calendar/htmlembed?src=addressbook%23contacts%40group.v.calendar.google.com&ctz=America%2FMexico_City" style="border: 0" width="1000" height="550" frameborder="0" scrolling="no"></iframe>
      </p>
    </section><!--Termina GOOGLE calendar-->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://youtu.be/KRDGlG51Px4" class="glightbox play-btn mb-4"></a>
          </div>
          
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Facultad de Psicología</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
            <a class="mt-4 boton-admisiones w-50 py-1" target="_blank" href="https://www.um.edu.mx/admisiones/">Inicia tu proceso de admisión ></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <!--<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2 class="text-uppercase">Pregrado</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-5 col-md-6 col-sm-5 d-flex align-items-stretch">
            <div class="icon-box">             
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Psicología Clínica </a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              <h3><a href="https://www.um.edu.mx/planes/psicologia/clinica.pdf" target="_blank">Ver mas ></a></h3>              
            </div>
          </div>

          <div class="col-lg-5 col-md-6 col-sm-5 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
              <h4><a href="">Psicología Educativa</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3><a href="https://www.um.edu.mx/planes/psicologia/educativa.pdf" target="_blank">Ver mas ></a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>--><!-- End Services Section -->

    <!-- ======= PREGRADO Section ======= -->
    <section id="pregrado" class="pregrado">

      <div class="section-title">
        <h2 class="text-uppercase">Pregrado</h2>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="media/departments-1.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="fas fa-hospital-user"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="https://www.um.edu.mx/planes/psicologia/clinica.pdf" target="_blank">Psicología Clínica</a></h5>
                <p class="card-text text-center">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="media/departments-2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="fas fa-chalkboard-teacher"></i>
              </div>
              <div class="card-body"> 
                <h5 class="card-title"><a href="https://www.um.edu.mx/planes/psicologia/educativa.pdf" target="_blank">Psicología Educativa</a></h5>
                <p class="card-text text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- PREGRADO Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title titulo">
          <h2 class="text-uppercase mt-5">Posgrado</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-4 col-md-6 col-sm-5 d-flex align-items-stretch mt-5">
            <div class="icon-box">             
              <div class="icon"><i class="fas fa-head-side-virus"></i></div>
              <h4><a href="">Especialidad en intervención de crisis</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              <h3><a href="https://www.um.edu.mx/planes/posgrados-psicologia/esp-crisis.pdf" target="_blank">Ver mas ></a></h3>              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-5 d-flex align-items-stretch mt-5">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4><a href="">Especialidad en terapia familiar</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3><a href="https://www.um.edu.mx/planes/posgrados-psicologia/esp-terapia-fam.pdf"
                target="_blank">Ver mas ></a></h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-5 d-flex align-items-stretch mt-5">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
              <h4><a href="">Maestría en conserjería familiar</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3><a href="https://www.um.edu.mx/planes/posgrados-psicologia/maest-cons-fam.pdf"
                target="_blank">Ver mas ></a></h3>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 col-sm-5 d-flex align-items-stretch mt-5">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-user-md"></i></div>
              <h4><a href="">Maestría en terapia familiar</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3><a href="https://www.um.edu.mx/planes/posgrados-psicologia/maest-ter-fam.pdf"
                target="_blank">Ver mas ></a></h3>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-5 d-flex align-items-stretch mt-5">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-user-graduate"></i></div>
              <h4><a href="">Doctorado en conserjería familiar</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              <h3><a href="https://www.um.edu.mx/planes/posgrados-psicologia/doc-cons-fam.pdf"
                target="_blank">Ver mas ></a></h3>
            </div>
          </div>

         </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Explicacion seccion ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>¿Por qué acudir a un psicologo?</h2>
        <p>La psicología es la ciencia que estudia los pensamientos, las emociones, la conducta humana y las relaciones
          interpersonales. Explora las alteraciones de las funciones mentales y sus implicaciones en la salud mental de
          las personas en un proceso terapéutico cuya finalidad es asegurar que la calidad de vida se mantenga en
          condiciones óptimas.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link text-disabled" data-toggle="tab" href="">Sevicios:</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">Clínica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">Educativa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Familiar y de Pareja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">Empresas</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Clínica</h3>
                  <p class="font-italic">La atención clínica es una de las ramas de la psicología que trabaja en la
                    prevención, diagnóstico y tratamiento de trastornos mentales. Te compartimos algunos ejemplos sobre
                    los que el profesional en Psicología Clínica puede ayudarte:</p>
                  <p>Depresión, Ansiedad, Autoestima, Duelo, Estrés, Desarrollo personal, Consumo de sustancias
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/consulta.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Educativa</h3>
                  <p class="font-italic">La psicología educativa estudia el desarrollo humano. Atiende las dificultades
                    congnitivas y del aprendizaje.Te compartimos algunos ejemplos sobre los que el profesional en
                    Psicología Educativa puede ayudarte:</p>
                  <p>Desarrollo motor, Lectoescritura, Trastorno por Deficit de Atención, Rendimiento académico,Terapia
                    de lenguaje</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/educacional.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Familiar y de Pareja</h3>
                  <p class="font-italic">La consejería familiar, es una rama de la psicología que interviene en los
                    problemas que afectan a la unidad familiar y las relaciones entre sus miembros. Por lo tanto; un
                    psicólogo de la familia no centra su trabajo solo en un individuo, por el contrario, estudia a las
                    familias como sistemas y analiza comportamientos, patrones de comunicación y respuestas emocionales
                    entre ellos.</p>
                  <p>Te compartimos algunos ejemplos sobre los que el profesional en consejería familiar puede
                    ayudarte:<br>
                    Problemas de pareja, Divorcio, Educación de los hijos, Resolución de conflictos padres he hijos
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Empresarial</h3>
                  <p class="font-italic">La Psicología organizacional se enfoca en el comoportamiento del capital humano
                    promoviendo su desarrollo personal y profesional dentro del área laboral</p>
                  <p>A través de esta área ofrecemos servicios de:<br>
                    Capacitación, Asesoria para el cumplimiento de la NOM-035, Evaluaciones psicológicas, Planes de
                    bienestar en salud mental
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/asesoria.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


    <!-- ======= Preguntas seccion ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
        <p>En este apartado queremos recoger las principales preguntas de psicología que nos habéis ido realizando o que
          entendemos que pueden interesar. Este apartado irá creciendo con todas vuestras sugerencias y cuestiones, por
          ello podéis aprovechar los comentarios de esta página para hacernos nuevas consultas</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
              href="#faq-list-1">¿Por qué y cuándo acudir con un psicólogo?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                La vida tiene muchos problemas y dificultades que naturalmente van a pasar, sin embargo, hay otros que
                son mucho más difíciles de superar, en donde ocupamos un poco de orientación y acompañamiento, En
                ocasiones el sufrimiento, la ansiedad o el agobio son tan intensos que provocan un profundo malestar e
                incluso afectan nuestro desempeño cotidiano. En estos casos, solemos estar demasiado involucrados
                emocionalmente, podemos bloquearnos y nos resulta difícil hallar una respuesta dentro de nosotros.
                Entonces ha llegado el momento de acudir al psicólogo, un profesional que puede ayudarte a identificar
                el origen del problema y te permitirá solucionarlo o, al menos, disminuir el malestar que este genera
                para que puedas continuar con tu vida.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2"
              class="collapsed">¿Quiénes pueden ir al psicólogo?<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
              <p>
                No hay una edad determinada para acudir a un psicólogo, todo depende de las necesidades individuales.
                Todo el que quiera mejorar su salud mental y también potenciar sus habilidades.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3"
              class="collapsed">¿Vale la pena pagar solo para hablar con un desconocido?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
              <p>
                Es importante recordar que es un profesional preparado para conocer el funcionamiento de la mente humana
                y al no tener un vínculo afectivo con el paciente, podrá decir cosas que tus amigos ni tu familia te
                lo dirían. No olvides que se trata de tu salud mental y emocional, que sin dudas influirá en tu salud
                física.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4"
              class="collapsed">¿En cuánto tiempo veré resultados de la terapia?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
              <p>
                No hay un tiempo definido, cada paciente es diferente y cada uno trabaja a su propio ritmo, hay algunos
                que se sienten mejor desde la primera o la segunda sesión, pero otros necesitan más tiempo.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed">¿Qué pasa si no me siento cómodo/a con mi psicólogo?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                Si no te sientes cómodo/a con tu psicólogo es poco probable que el tratamiento funcione, lo más
                recomendable en este caso, es que tu puedas expresárselo, así podrán buscar un proceso terapéutico más
                adecuado a tus necesidades o llegar a un acuerdo.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5"
              class="collapsed">¿Qué actitud debo tener al asistir a terapia?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-parent=".faq-list">
              <p>
                No estás obligado a sentirte ó actuar de una forma en particular, recuerda que la terapia es un lugar
                seguro para ti, pero es muy importante que puedas estar comprometido y dispuesto a trabajar en tu
                salud mental.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>

  </section>

    <!-- ======= Articlos Seccion ======= -->
  <section id="articulos" class="articulos">
    <div class="container">
      <div class="section-title pb-0">
        <h2>Artículos</h2>
      </div>
      <div class="owl-carousel articulos-carousel">
        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/2XP0v3X" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar estrés y ansiedad durante la pandemia?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Si últimamente te has sentido angustiado por todo lo que está ocurriendo, es probable que el miedo esté
                invadiendo tus pensamientos.
                Si esto ha causado cambios en tu comportamiento, te obsesiona la limpieza o tienes dificultad para
                dormir,
                tal vez esta sea una oportunidad para escucharte a ti mismo.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item"><a href="https://bit.ly/3ex1M6u" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo identificar el malestar psicológico?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Es cierto que no necesitas sonreír todo el tiempo para estar bien. Sin embargo, si con frecuencia no
                tienes ganas de salir de la cama, tal vez estés pasando por una tristeza profunda y difícil de explicar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/36PoeVI" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la crisis del desempleo?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nadie estaba esperando esta crisis. Si tus planes han tenido un giro inesperado y no tienes idea de qué
                te espera el día de mañana, hay algunos consejos que te pueden ayudar.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/2zPqmAE" target="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Cómo afrontar la pérdida de un ser querido?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aunque perder a un ser querido no sea fácil, no hay que huir de las emociones. Esta puede ser una
                oportunidad para reflexionar.
                Estas son algunas cosas que puedes hacer para enfrentar este momento de una forma saludable.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

        <div class="articulo-wrap">
          <div class="articulo-item">
            <a href="https://bit.ly/3dAFUH2" btarget="_blank">
              <img src="/media/articulos/articulo-1.png" class="articulo-img" alt="">
              <h3>¿Qué puedo hacer si he perdido la esperanza?</h3>
              <h4>2020</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                En momentos difíciles la esperanza puede darte la fuerza que necesitas para seguir adelante. No
                obstante, es posible que depositemos nuestra esperanza en el lugar equivocado.
                Sólo al confiar en Dios y entregarle nuestras preocupaciones podremos vivir seguros y tener la
                estabilidad que tanto buscamos.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>
     
    <section id="horario" class="horario">
        <div class="horario">
          <div class="container mb-5">
            <div class="row">
              <div class="col-md-6 p-4">
                <h2 class="text-center text-uppercase mt-5">Horarios</h2>
                <p class="text-center mt-5 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum  dolorum accusamus repudiandae.
                </p>
                <table class="table table-hover text-center mt-3">
                  <thead>
                      <tr>
                          <th class="text-center">Día</th>
                          <th class="text-center">De</th>
                          <th class="text-center">Hasta</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>Lunes</td>
                          <td>09:00</td>
                          <td>19:00</td>
                      </tr>
                      <tr>
                          <td>Martes</td>
                          <td>09:00</td>
                          <td>19:00</td>
                      </tr>
                      <tr>
                          <td>Miércoles</td>
                          <td>09:00</td>
                          <td>19:00</td>
                      </tr>
                      <tr>
                          <td>Jueves</td>
                          <td>09:00</td>
                          <td>19:00</td>
                      </tr>
                      <tr>
                          <td>Viernes</td>
                          <td>09:00</td>
                          <td>19:00</td>
                      </tr>
                      <tr>
                          <td>Sábado</td>
                          <td>Cerrado</td>
                          <td>Cerrado</td>
                      </tr>
                      <tr>
                          <td>Domingo</td>
                          <td>Cerrado</td>
                          <td>Cerrado</td>
                      </tr>
                  </tbody>
            </table>
              </div>
              <div class="col-md-6 bg-horario"></div>
            </div>
          </div>
        </div>
    </section>

    <!-- ======= Gallery Section ======= -->
    <section id="gallery " class="gallery">
      <div class="container">

        <div class="section-title mt-5">
          <h2>Experiencia FAPSI</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-1.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-2.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-3.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-4.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-5.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-6.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-7.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-8.jpg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
        </div>
      </div>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.3793174568227!2d-99.84916908500956!3d25.19042753815692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x867cd702b951d701%3A0x3821005e8d530e85!2sFacultad%20de%20Psicolog%C3%ADa%2C%20Univ.%20de%20Montemorelos%2C%20Universidad%20de%20Montemorelos%2C%2067515%20Montemorelos%2C%20N.L.!5e0!3m2!1ses!2smx!4v1619533560446!5m2!1ses!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Simon Bolivar 1213, Nuevo Leon, MX 67515</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>cae@um.edu.mx</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llama:</h4>
                <p>826 262 3127
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar
              </button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contacto">
            <h3><img src="media/docPanLogo.png"/></h3>
            {{!-- <p>
              Simon Bolivar 1213<br>
              Montemorelos, NL 67530<br>
              Mexico<br><br>
              <strong>Telefono:</strong> +52 826 263 3754<br>
              <strong>Correo:</strong> cedafamp@um.edu.mx<br>
            </p> --}}
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h3>Horarios</h3>
            <div class="row">
              <div class="col-sm-4">Domingo<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lunes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Martes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Miercoles<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Jueves<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Vierne<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Sabado<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/fapsi">FAPSI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/coae">COAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cedafam">CEDAFAM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cip">CIP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/redpum">RE</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>¡Regístrate hoy!</h4>
            <p>Regístrate hoy en nuestro sitio para obtener tu cita presencial o virtual</p>
             
             <a href="/register">Registrar</a>
            
          </div>

        </div>
      </div>
    </div>
  </footer>  <!-- ======= Footer ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/vendor/jquery/jquery.min.js"></script>