<link rel="stylesheet" href="css/departamentos/departamentos.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<link rel="stylesheet" href="/src/public/vendor/swiper/swiper-bundle.min.css">

<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contacto-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contacto@example.com">cedafamp@um.edu.mx</a>
        <i class="icofont-phone"></i> +52 826 263 3754
        <i class="icofont-google-map"></i> Simon Bolivar 1213, NL
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/cedafam" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cedafam/" target="_blank"  class="instagram"><i class="icofont-instagram"></i></a>
         <a href="https://www.tiktok.com/@cedafam?lang=esp" target="_blank" class="tiktok"><i class="fab fa-tiktok"></i></i></a>
        <a href="https://www.youtube.com/channel/UCgb1Fb-bjsm_XNKpqL8DKhg" target="_blank"  class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
</div>

<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Red PUM </h1>
      <h2>Red de Psicólogos UM</h2>
      <a href="#carousel" class="btn-get-started scrollto">Comenzar</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>¿Quiénes somos?</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel cupiditate a, quam, laboriosam neque voluptatum minima quidem doloremque eius nihil quibusdam accusantium nemo cum! Facere asperiores facilis nesciunt maxime, autem, hic dicta consequatur saepe a veniam, culpa dolorem obcaecati cum.
              </p>
              
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Llámanos</h4>
                    <p>826 262 3127</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Envíanos un mensaje</h4>
                    <p>
                      redpum@um.edu.mx
                      </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Visítanos</h4>
                    <p>Simon Bolivar 1213, Matamoros, Montemorelos, Nuevo León Matamoros, 67530 Montemorelos, N.L.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Carousel Section ======= -->
    <section id="carousel">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
          <div class="carousel-inner" role="listbox">
  
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url('media/slide-2.jpg');">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">Loremn <span>ipsum</span></h2>
                  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid.</p>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver más</a>
                </div>
              </div>
            </div>
  
            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url('media/hero-bg.jpg');">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. </p>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver más</a>
                </div>
              </div>
            </div>
  
            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url('media/slide-1.jpg');">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                  <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. </p>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver más</a>
                </div>
              </div>
            </div>
  
          </div>
  
          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
  
        </div>
      </div>
    </section>

    <!-- ======= Carousel Section ======= -->
      


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Egresados</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-1.jpg" alt="">
              <h4>Nathaniel Martina</h4>
              <span>Chief Executive Officer</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-2.jpg" alt="">
              <h4>Antonio Gámez </h4>
              <span>Product Manager</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-3.jpg" alt="">
              <h4>Marcelo Moroni</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-4.jpg" alt="">
              <h4>José Castañón</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-1.jpg" alt="">
              <h4>Alejandro García</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-2.jpg" alt="">
              <h4>Daniel Gutiérrez</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-3.jpg" alt="">
              <h4>Cesar Sánchez</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="media/doctors/doctors-4.jpg" alt="">
              <h4>Leticia Cruz</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


    <!--Mapa interactivo-->
    <section class="map mt-5">
      <div class="container">
        <h1 class="text-center my-5">Profesionales</h1>
          <div class="maparea2">
            <div class="map mapaMexico">
              <span>Mapa de México</span>
              
            </div>
          </div>
      </div>
    </section><!--termina mapa interactivo--> 

    
    

    {{!-- <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container">

        <div class="section-title">
          <h2>Ofertas de Trabajo</h2>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Asesor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Apoyo en departamentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Docente en la UM</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Psicologo en jefe</a>
              </li>              
            </ul>
          </div>

          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Técnicas de estudio y estrategias por pares</h3>
                    <p class="font-italic">Se aplicará un test de estilos de aprendizaje y trabajaremos sobre mejorar nuestro método de estudio.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Inteligencia emocional</h3>
                    <p class="font-italic">El objetivo de este taller es conocer nuestras emociones y que aprendamos a manejarlas de manera correcta.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Convivir en la nueva normalidad</h3>
                    <p class="font-italic">Se proveerán herramientas para mejorar nuestra adaptación en la situación actual en la que estamos viviendo</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Convivir en la nueva normalidad</h3>
                    <p class="font-italic">Se proveerán herramientas para mejorar nuestra adaptación en la situación actual en la que estamos viviendo</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Departments Section --> --}}

    <!-- ======= Explicacion seccion ======= -->
  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>¿Por qué acudir a un psicologo?</h2>
        <p>La psicología es la ciencia que estudia los pensamientos, las emociones, la conducta humana y las relaciones
          interpersonales. Explora las alteraciones de las funciones mentales y sus implicaciones en la salud mental de
          las personas en un proceso terapéutico cuya finalidad es asegurar que la calidad de vida se mantenga en
          condiciones óptimas.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link text-disabled" data-toggle="tab" href="">Sevicios:</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">Clínica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">Educativa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Familiar y de Pareja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">Empresas</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Clínica</h3>
                  <p class="font-italic">La atención clínica es una de las ramas de la psicología que trabaja en la
                    prevención, diagnóstico y tratamiento de trastornos mentales. Te compartimos algunos ejemplos sobre
                    los que el profesional en Psicología Clínica puede ayudarte:</p>
                  <p>Depresión, Ansiedad, Autoestima, Duelo, Estrés, Desarrollo personal, Consumo de sustancias
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/consulta.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Educativa</h3>
                  <p class="font-italic">La psicología educativa estudia el desarrollo humano. Atiende las dificultades
                    congnitivas y del aprendizaje.Te compartimos algunos ejemplos sobre los que el profesional en
                    Psicología Educativa puede ayudarte:</p>
                  <p>Desarrollo motor, Lectoescritura, Trastorno por Deficit de Atención, Rendimiento académico,Terapia
                    de lenguaje</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/educacional.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Familiar y de Pareja</h3>
                  <p class="font-italic">La consejería familiar, es una rama de la psicología que interviene en los
                    problemas que afectan a la unidad familiar y las relaciones entre sus miembros. Por lo tanto; un
                    psicólogo de la familia no centra su trabajo solo en un individuo, por el contrario, estudia a las
                    familias como sistemas y analiza comportamientos, patrones de comunicación y respuestas emocionales
                    entre ellos.</p>
                  <p>Te compartimos algunos ejemplos sobre los que el profesional en consejería familiar puede
                    ayudarte:<br>
                    Problemas de pareja, Divorcio, Educación de los hijos, Resolución de conflictos padres he hijos
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Área Empresarial</h3>
                  <p class="font-italic">La Psicología organizacional se enfoca en el comoportamiento del capital humano
                    promoviendo su desarrollo personal y profesional dentro del área laboral</p>
                  <p>A través de esta área ofrecemos servicios de:<br>
                    Capacitación, Asesoria para el cumplimiento de la NOM-035, Evaluaciones psicológicas, Planes de
                    bienestar en salud mental
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="/media/asesoria.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

   <section class="blog" id="blog">
    <div class="section-title">
      <h2>Blog de Red</h2>
    </div>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="container">
           <div class="row mb-5">

            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-2.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Diciembre  13, 2018 &bullet; Por <a href="#">Andre García</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-1.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Julio  26, 2020 &bullet; Por <a href="#">Rogelio Martínez</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-3.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta ">Noviembre  16, 2019 &bullet; Por <a href="#">Mariano Guerra</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-4.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Febrero  8, 2019 &bullet; Por <a href="#">Rosaura Quintana</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-5.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Noviembre  2, 2021 &bullet; Por <a href="#">Carla Pérez</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-6.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Agosto  21, 2017 &bullet; Por <a href="#">Penelope Hernández</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-7.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Junio  25, 2018 &bullet; Por <a href="#">Emiliano Orrantia</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-8.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Noviembre  12, 2018 &bullet; Por <a href="#">Azucena Escobedo</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
           
          </div>
        </div>
        </div>

        <div class="swiper-slide">
          <div class="container">
           <div class="row mb-5">

            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-2.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Diciembre  13, 2018 &bullet; Por <a href="#">Andre García</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-1.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Julio  26, 2020 &bullet; Por <a href="#">Rogelio Martínez</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-3.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Noviembre  16, 2019 &bullet; Por <a href="#">Mariano Guerra</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-4.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Febrero  8, 2019 &bullet; Por <a href="#">Rosaura Quintana</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-5.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Noviembre  2, 2021 &bullet; Por <a href="#">Carla Pérez</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-6.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Agosto  21, 2017 &bullet; Por <a href="#">Penelope Hernández</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-7.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Junio  25, 2018 &bullet; Por <a href="#">Emiliano Orrantia</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>
    
            <div class="col-md-3 col-sm-6">
              <div class="post-entry">
                <a href="#" class="d-block mb-4">
                  <img src="media/gallery/gallery-8.jpg" alt="Image" class="img-fluid">
                </a>
                <div class="post-text">
                  <span class="post-meta">Noviembre  12, 2018 &bullet; Por <a href="#">Azucena Escobedo</a></span>
                  <h3 class="mt-3"><a href="#">Las dificultades en el tiempo de pandemia</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
                  <p><a href="#" class="readmore">Ver más</a></p>
                </div>
              </div>
            </div>

            
          </div>
        </div>
        </div>

        <!--<div class="swiper-slide">Slide 3</div>-->
        
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
        },
      });
    </script>
    </section><!--.blog-->


    <!--Imagen-->
    <section class="imagen" id="imagen">
      <div class="oferta container-fluid py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
          <h3 class="text-uppercase">Red de egresados UM</h3>
          <p class="mt-3 text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      </div>
    </section>
    <!--TERMINA Imagen-->

    
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title mt-5">
          <h2>Galería</h2>
          
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-1.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-1.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-2.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-2.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-3.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-3.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-4.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-4.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-5.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-5.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="media/gallery/gallery-6.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-6.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item">
              <a href="media/gallery/gallery-7.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-7.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="gallery-item">
              <a href="media/gallery/gallery-8.jpg" class="galelry-lightbox">
                <img src="media/gallery/gallery-8.jpg" alt="" class="img-fluid">
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quibusdam dignissimos vitae voluptatibus unde adipisci.</p>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
        </div>
      </div>
      

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Simon Bolivar 1213, Nuevo Leon, MX 67515</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Correo:</h4>
                <p>cae@um.edu.mx</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llama:</h4>
                <p>826 262 3127
                </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Cargando</div>
                <div class="error-message"></div>
                <div class="sent-message">Su mensaje ha sido enviado. ¡Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar
              </button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contacto">
            <h3><img src="media/docPanLogo.png"/></h3>
            <!--<p>
              Simon Bolivar 1213<br>
              Montemorelos, NL 67530<br>
              Mexico<br><br>
              <strong>Telefono:</strong> +52 826 263 3754<br>
              <strong>Correo:</strong> redpum@um.edu.mx<br>
            </p>-->
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h3>Horarios</h3>
            <div class="row">
              <div class="col-sm-4">Domingo<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Lunes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Martes<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Miercoles<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Jueves<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Vierne<br></div>
              <div class="col-sm-8 font-weight-bold">8:30-12:30<br></div>
            </div>
            <div class="row">
              <div class="col-sm-4">Sabado<br></div>
              <div class="col-sm-8 font-weight-bold text-danger">Cerrado<br></div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/fapsi">FAPSI</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/coae">COAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cedafam">CEDAFAM</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/cip">CIP</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/redpum">RE</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>¡Regístrate hoy!</h4>
            <p>Regístrate hoy en nuestro sitio para obtener tu cita presencial o virtual</p>
             
             <a href="/register">Registrar</a>
            
          </div>

        </div>
      </div>
    </div>
  </footer>  <!-- ======= Footer ======= -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {{!-- MAPA INTERACTIVO --}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js'></script>
  <script src='https://rawgit.com/neveldo/jQuery-Mapael/2.0.0/js/jquery.mapael.js'></script>

  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <script src="js/departamentos/departamentos.js"></script>