<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link href="/media/SMUMLogo.png" rel="icon">
    <link href="/media/SMUMLogo.png" rel="apple-touch-icon">
    <title>Portal SMUM</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
</head>


<body class="logIn" id="loginContent">
    <div class="row w-100 h-100 ">
        <div class="col-lg-12 h-100 ">
            
            <a href="/" style="height:50px; position:absolute;"><i class="fas fa-arrow-circle-left" title="Regresar"></i></a>
        
            <form id="loginForm" action="POST" class="w-100 h-100 d-flex justify-content-center align-items-center">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-7 mb-4">
                        <img class="imgLogin" src="/media/SMUMLogo.png" alt="">
                    </div>
                    <div class="col-lg-7">
                        <div class="title"> 
                            <span class="block"></span>
                            <h1>Iniciar Sesión<span></span></h1>
                        </div>
                        <div class="role pt-2">
                            <div class="block2"></div>
                            <p>Salud Mental UM</p>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex justify-content-center flex-column align-items-center inLog">
                        <div class="input-group text-center" style="width: auto; min-width: 0;">
                            <input class="mt-2 passInput" type="text" placeholder="Usuario" name="username"
                                id="username">
                        </div>
                        <div class="input-group text-center" style="width: auto; min-width: 0;">
                            <input class="passInput1" type="password" placeholder="Contraseña" name="password"
                                id="password">
                            <div class="input-group-append">
                                <span class="input-group-text spn" style="padding: 0.35rem;">
                                    <i class="fa fa-fw fa-eye" id="togglePassword"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7 mt-4">
                            <button type="submit" value="Login" class="btn btn-primary butLogin">LogIn</button>
                        </div>
                    </div>
                    <div class="col-lg-7 mt-2 inP">
                        <p>No tienes una cuenta?<a href="/register" class="regLink">Registrarse</a></p>  
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="preloader"></div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
    <script src="/js/login.js"></script>
</body>